<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="ru.kaznacheev.restaurant.waiterservice.repository.DishRepository">

    <resultMap id="dishResultMap" type="Dish">
        <id property="id" column="id"/>
        <result property="name" column="dish_name"/>
        <result property="cost" column="dish_cost"/>
    </resultMap>

    <select id="getAllDishesByTitles" resultMap="dishResultMap">
        SELECT id, dish_name, dish_cost
        FROM menu
        WHERE dish_name IN
        <foreach item="title" collection="dishTitles" open="(" separator="," close=")">
            #{title}
        </foreach>
    </select>

</mapper>